*{
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
}
body {
  margin: 0;
}




.btn:active{
  transform: translateY(2px);
}

.primary-btn {
  color: #ffffff;
  border: 2px solid lavenderblush;
  font-size: 12px;
  background-color: #1f2235 ;
}
.primary-btn a{
  text-decoration: none;
  color: #ffffff;
}
.primary-btn:hover{
  color: aliceblue;
  border: 2px solid #ff5823;
  background-color: #1f2235 ;

}
.highlighted-btn{
  color: #ffffff;
  font-size: 12px;
  background-color: #ff5823;
}

